@using Payments.Mvc.Models.TeamViewModels
@model TeamPermissionModel
@{
    ViewData["Title"] = "Add User";
}

<h2>Add User</h2>
<h4>TeamPermission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePermission">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Team.Id" />
            <input type="hidden" id="Id" name="Id" value="@Model.Team.Id"/>
            <div class="form-group">
                <label asp-for="@Model.UserLookup" class="control-label"></label>
                <input asp-for="@Model.UserLookup" class="form-control" />
                <span asp-validation-for="@Model.UserLookup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SelectedRole" class="control-label"></label>
                <select asp-for="@Model.SelectedRole" class="form-control" asp-items="@Model.Roles"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-team="@Model.Team.Slug">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


