@using System.Security.Claims
@using Payments.Mvc.Models.Roles
@model Payments.Mvc.Models.Teams.TeamDetailsModel

@{
    ViewData["Title"] = "Details";
    var isAppAdmin = User.IsInRole(ApplicationRoleCodes.Admin);
    var isTeamAdmin = isAppAdmin || Model.Permissions.Any(a => a.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value && a.Role.Name == TeamRole.Codes.Admin);
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    <h4>Accounts</h4>
    <hr />
    <p>
        <a asp-action="CreateAccount" asp-route-id="@Model.Team.Id">Create New Account</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.Chart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.SubAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.IsDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.DefaultAccount.IsActive)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Team.Accounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDefault)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    <a asp-action="EditAccount" asp-route-id="@item.Id" asp-route-teamId="@Model.Team.Id">Edit</a> |
                    <a asp-action="AccountDetails" asp-route-id="@item.Id" asp-route-teamId="@Model.Team.Id">Details</a> |
                    <a asp-action="DeleteAccount" asp-route-id="@item.Id" asp-route-teamId="@Model.Team.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (isTeamAdmin)
    {
        <h4>Users</h4>
        <hr/>

        <p>
            <a asp-action="CreatePermission" asp-route-id="@Model.Team.Id">Add User</a>
        </p>

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.CampusKerberos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.Name)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Permissions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.CampusKerberos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        <a asp-action="DeletePermission" asp-route-id="@item.Id" asp-route-teamId="@Model.Team.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    @if (isAppAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Team.Id">Edit Team</a> <span> | </span>
    }
    <a asp-action="Index">Back to List of Teams</a>
</div>

@section AdditionalStyles
    {
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section scripts
    {
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $(".table").DataTable();
        });
    </script>
}
