@using Payments.Mvc.Models.Roles
@model IEnumerable<Payments.Core.Domain.Team>

@{
    ViewData["Title"] = "Teams";
    var isAdmin = User.IsInRole(ApplicationRoleCodes.Admin);
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        @if (isAdmin)
        {
            <a asp-controller="Teams" asp-action="Create" asp-route-team="" class="btn"><i class="far fa-plus-square mr-3"></i>Create New Team</a>
        }
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center">
                            @if (item.IsActive)
                            {
                                <i class="far fa-check-square"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (isAdmin)
                            {
                            <span>
                                <a asp-controller="Home" asp-action="TeamIndex" asp-route-team="@item.Slug">Select</a> |
                                <a asp-controller="Settings" asp-action="Edit" asp-route-team="@item.Slug">Edit</a> |
                                <a asp-controller="Settings" asp-action="Index" asp-route-team="@item.Slug">Details</a>
                            </span>
                            }
                            else
                            {
                                <a asp-controller="Settings" asp-action="Index" asp-route-team="@item.Slug">Details</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $(".table").DataTable();
        });
    </script>
}
