@using Payments.Mvc.Models.Roles
@model IEnumerable<Payments.Core.Domain.Team>

@{
    ViewData["Title"] = "Teams";
    var isAdmin = User.IsInRole(ApplicationRoleCodes.Admin);
}

<h2>Teams</h2>
@if (isAdmin)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @if (isAdmin)
                {
                    <span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" asp-route-team="@item.Slug">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                }
                else
                {
                    <a asp-action="Details" asp-route-team="@item.Slug">Details</a>
                }

            </td>
        </tr>
    }
    </tbody>
</table>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    
    <script type="text/javascript">
        $(function() {
            $(".table").DataTable();
        });
    </script>
}
