<div class="logo">
  <a href="/"><img src="/media/logo.svg" alt="UC Davis payments logo"></a>
</div>
﻿<ul class="">
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-home"></i> Home</a></li>
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-id-card-o"></i> Account</a></li>

    <li class=""><a href="@Url.Action("Index", "Invoices")"><i class="fa fa-fw fa-home"></i> Invoices</a></li>
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-book"></i> Support</a></li>
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-question"></i> Help</a></li>
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-comments-o"></i> Feedback</a></li>

    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-cogs"></i> Settings</a></li>
    <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-bomb"></i> Logout</a></li>
</ul>
