@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Payments.Mvc.Identity
@using Payments.Mvc.Models.Roles
@inject ApplicationUserManager UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = await UserManager.GetUserAsync(User);
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
    var controller = HttpContextAccessor.HttpContext.GetRouteData().Values["controller"] as string;
}

@if (User.Identity.IsAuthenticated && user != null)
{
    var teams = user.GetTeams().ToList();
    var currentTeam = teams.FirstOrDefault(t => t.Slug == teamSlug);

    <form asp-controller="Home" asp-action="SetActiveTeam" method="post" id="TeamSelectForm">
        <input id="teamSelectFormTeamId" name="teamId" type="hidden" />

        <button type="button" class="btn dropdown-toggle btn-primary team-select-control" data-bs-toggle="dropdown" role="button" title="Select your team">
            <div class="title">
                <div class="title-inner">
                    <div class="title-inner-inner">
                        <i class="fas fa-users mr-2"></i>
                        @if (currentTeam == null)
                        {
                            <span>Select your team</span>
                        }
                        else
                        {
                            <span>@currentTeam.Name</span>
                        }
                    </div>
                </div>
            </div>
        </button>

        <div class="dropdown-menu">
            @foreach (var t in teams)
            {
                <button class="team-select-control-item dropdown-item" type="button" data-id="@t.Id">@t.Name</button>
            }
        </div>
    </form>
    <script asp-add-nonce="true">
        window.addEventListener('load', function () {
            $('.team-select-control-item').click(function() {
                var id = $(this).attr('data-id');
                $('#teamSelectFormTeamId').val(id);
                $('#TeamSelectForm').submit();
            });
        });
    </script>
}

<nav class="navbar navbar-expand-md navbar-light bg-light px-0">
    <a class="mobile_logo_navbar" id="logoContainer" href="/">
        @Html.InlineSvg("/wwwroot/media/logo.svg")
    </a>
    <button class="navbar-toggler mobile_button_toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse options-navbar" id="navbarTogglerDemo02" >
        <a class="nav-home" asp-controller="Home" asp-action="Index">
            <div class="nav-item">
                <div class="svgwrapper">
                    @Html.InlineSvg("/wwwroot/media/navicons/home.svg")
                </div>
                <span class="nav-text">Home</span>
            </div>
        </a>
        @if (!string.IsNullOrWhiteSpace(teamSlug))
        {
            <a class="nav-invoices" asp-controller="Invoices" asp-action="Index" asp-route-team="@teamSlug">
                <div class="nav-item">
                    <div class="svgwrapper">
                        @Html.InlineSvg("/wwwroot/media/navicons/invoices.svg")
                    </div>
                    <span class="nav-text">Invoices</span>
                </div>
            </a>

            if (string.Equals("invoices", controller, StringComparison.OrdinalIgnoreCase)
                || string.Equals("coupons", controller, StringComparison.OrdinalIgnoreCase))
            {
                <a class="nav-coupons" asp-controller="Coupons" asp-action="Index">
                    <div class="nav-item subnav">
                        <div class="svgwrapper">
                            @Html.InlineSvg("/wwwroot/media/navicons/coupons.svg")
                        </div>
                        <span class="nav-text">Coupons</span>
                    </div>
                </a>
            }
        }

        <a class="nav-reports" asp-controller="Reports" asp-action="Index" asp-route-team="@teamSlug">
            <div class="nav-item">
                <div class="svgwrapper">
                    @Html.InlineSvg("/wwwroot/media/navicons/reports.svg")
                </div>
                <span class="nav-text">Reports</span>
            </div>
        </a>

        <a class="nav-support" asp-controller="Support" asp-action="Index">
            <div class="nav-item">
                <div class="svgwrapper">
                    @Html.InlineSvg("/wwwroot/media/navicons/support.svg")
                </div>
                <span class="nav-text">Support</span>
            </div>
        </a>

        @if (string.IsNullOrWhiteSpace(teamSlug))
        {
            <a class="nav-settings" asp-controller="Teams" asp-action="Index">
                <div class="nav-item">
                    <div class="svgwrapper">
                        @Html.InlineSvg("/wwwroot/media/navicons/settings.svg")
                    </div>
                    <span class="nav-text">Settings</span>
                </div>
            </a>
        }
        else
        {
            <a class="nav-settings" asp-controller="Settings" asp-action="Index" asp-route-team="@teamSlug">
                <div class="nav-item">
                    <div class="svgwrapper">
                        @Html.InlineSvg("/wwwroot/media/navicons/settings.svg")
                    </div>
                    <span class="nav-text">Settings</span>
                </div>
            </a>
            if (string.Equals("settings", controller, StringComparison.OrdinalIgnoreCase)
               || string.Equals("teams", controller, StringComparison.OrdinalIgnoreCase)
               || string.Equals("financialAccounts", controller, StringComparison.OrdinalIgnoreCase))
            {
                <a class="" asp-controller="Teams" asp-action="Index">
                    <div class="nav-item subnav">
                        <span class="nav-text">All Teams</span>
                    </div>
                </a>
                if (User.IsInRole(ApplicationRoleCodes.Admin) || user.IsTeamAdmin(teamSlug))
                {
                    <a class="" asp-controller="Settings" asp-action="Roles" asp-route-team="@teamSlug">
                        <div class="nav-item subnav">
                            <span class="nav-text">Roles</span>
                        </div>
                    </a>
                }
                <a class="" asp-controller="FinancialAccounts" asp-action="Index" asp-route-team="@teamSlug">
                    <div class="nav-item subnav">
                        <span class="nav-text">Accounts</span>
                    </div>
                </a>
            }
        }

        @if (User.IsInRole(ApplicationRoleCodes.Admin))
        {
            <a class="nav-system" asp-controller="System" asp-action="Index">
                <div class="nav-item">
                    <div class="svgwrapper">
                        @Html.InlineSvg("/wwwroot/media/navicons/system.svg")
                    </div>
                    <span class="nav-text">System</span>
                </div>
            </a>
        }

        @if (User.Identity.IsAuthenticated && user != null)
        {
            <form asp-action="logout" asp-controller="account" method="post">
                <button class="nav-item nav-logout btn-plain">
                    <div class="svgwrapper">
                        @Html.InlineSvg("/wwwroot/media/navicons/logout.svg")
                    </div>
                    <span class="nav-text">Sign Out</span>
                </button>
            </form>
        }
    </div>

</nav>
    
