@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Payments.Mvc.Identity
@inject ApplicationUserManager UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = await UserManager.GetUserAsync(User);
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

@if (User.Identity.IsAuthenticated && user != null)
{
    using (Html.BeginForm("SetActiveTeam", "Home", FormMethod.Post, new { id = "TeamSelectForm" }))
    {
        var teamSelectList = user.GetTeams()
            .Select(t => new SelectListItem() {Value = t.Id.ToString(), Text = t.Name, Selected = (t.Slug == teamSlug) });

        @Html.DropDownList("teamId", teamSelectList, "Select Team", new { @class = "team-select-control", onchange= "$('#TeamSelectForm').submit()" })
    }
}

<nav>
    <a class="nav-home" href="@Url.Action("Index", "Home")">
        <div class="row flex-center">
            <div class="svgwrapper">
                @Html.InlineSvg("/wwwroot/media/navicons/home.svg")
            </div>
            <span class="navitem">Home</span>
        </div>
    </a>

    <a class="nav-invoices" href="@Url.Action("Index", "Invoices")">
        <div class="row flex-center">
            <div class="svgwrapper">
                @Html.InlineSvg("/wwwroot/media/navicons/invoices.svg")
            </div>
            <span class="navitem">Invoices</span>
        </div>
    </a>

    <a class="nav-support" href="@Url.Action("Index", "Home")">
        <div class="row flex-center">
            <div class="svgwrapper">
                @Html.InlineSvg("/wwwroot/media/navicons/support.svg")
            </div>
            <span class="navitem">Support</span>
        </div>
    </a>

    <a class="nav-settings" href="@Url.Action("Index", "Home")">
        <div class="row flex-center">
            <div class="svgwrapper">
                @Html.InlineSvg("/wwwroot/media/navicons/settings.svg")
            </div>
            <span class="navitem">Settings</span>
        </div>
    </a>

    <form asp-action="logout" asp-controller="account" method="post">
        <button class="nav-logout btn-plain">
            <div class="row flex-center">
                <div class="svgwrapper">
                    @Html.InlineSvg("/wwwroot/media/navicons/logout.svg")
                </div>
                <span class="navitem">Logout</span>
            </div>
        </button>
    </form>
</nav>
