@using Payments.Core.Extensions
@using Payments.Core.Models.History

@model Payments.Mvc.Models.InvoiceViewModels.InvoiceListViewModel
@{
    ViewBag.Title = "Recharge Activity Report";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h1><i class="fas fa-registered" title="Recharge Invoice"></i> @ViewBag.Title</h1>


    </div>
    <div class="card-body card-bot-border">

        @if (Model.Year.HasValue)
        {
            <div>Shows all recharge invoices created in @Model.Year. Export to excel to view additional columns.</div>
        }
        else
        {
            <div>Shows all recharge invoices created in the last 12 months (since
                @DateTime.Now.AddMonths(-12).ToString("d")). Export to excel to view additional columns.</div>
        }
        <form asp-action="RechargeActivity" method="post">
            <div class="row align-items-end">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-group col-12 mt-4">
                            <label>Filter for Year</label>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="YYYY" asp-for="Year"
                                    asp-format="{0:yyyy}" />
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i
                                        class="fas fa-sync-alt fa-sm"></i>Refresh Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-2">
            <button id="toggleColumns" class="btn btn-secondary"><i class="fas fa-columns"></i> <span
                    id="toggleText">Show All Columns</span></button>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table id="Invoices" class="table">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Status</th>
                    <th>Customer Email</th>
                    <th>Customer Name</th>
                    <th>Amount</th>
                    <th>Debit Accounts</th>
                    <th>Credit Accounts</th>
                    <th>Sent At</th>
                    <th>Created</th>
                    <th>Due Date</th>
                    <th>Paid Date</th>
                    <th>Completed Date</th>
                    <th>Entered By</th>
                    <th>Paid By</th>
                    <th>Approved By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.Invoices)
                {
                    var enteredBy = string.Join(", ", invoice.RechargeAccounts
                    .Where(a => a.Direction == RechargeAccount.CreditDebit.Debit && a.EnteredByKerb != null)
                    .Select(a => $"{a.EnteredByName} ({a.EnteredByKerb})")
                    .Distinct());
                    var approvedBy = string.Join(", ", invoice.RechargeAccounts
                    .Where(a => a.Direction == RechargeAccount.CreditDebit.Debit && a.ApprovedByKerb != null)
                    .Select(a => $"{a.ApprovedByName} ({a.ApprovedByKerb})")
                    .Distinct());
                    <tr>
                        <td>@invoice.GetFormattedId()</td>
                        <td>@invoice.Status</td>
                        <td>@invoice.CustomerEmail</td>
                        <td>@invoice.CustomerName</td>
                        <td>@invoice.CalculatedTotal</td>
                        <td>@(invoice.RechargeAccounts.Any(a => a.Direction == RechargeAccount.CreditDebit.Debit) ?
                                                    string.Join(", ", invoice.RechargeAccounts.Where(a => a.Direction ==
                                                    RechargeAccount.CreditDebit.Debit).Select(a => a.FinancialSegmentString)) : "")</td>
                        <td>@(invoice.RechargeAccounts.Any(a => a.Direction == RechargeAccount.CreditDebit.Credit) ?
                                                    string.Join(", ", invoice.RechargeAccounts.Where(a => a.Direction ==
                                                    RechargeAccount.CreditDebit.Credit).Select(a => a.FinancialSegmentString)) : "")</td>
                        <td>@(invoice.SentAt.HasValue? invoice.SentAt.Value.ToPacificTime().ToString("d") : "")</td>
                        <td>@invoice.CreatedAt.ToPacificTime().ToString("d")</td>
                        <td>@(invoice.DueDate.HasValue? invoice.DueDate.Value.ToPacificTime().ToString("d") : "")</td>
                        <td>@(invoice.PaidAt.HasValue? invoice.PaidAt.Value.ToPacificTime().ToString("d") : "")</td>
                        <td>@invoice.History?.FirstOrDefault(a => a.Type ==
                                                    HistoryActionTypes.RechargeCompletedInSloth.TypeCode)?.ActionDateTime.ToPacificTime().ToString("d")
                    </td>
                    <td>@enteredBy</td>
                    <td>
                        @invoice.History?.FirstOrDefault(a => a.Type ==
                                                HistoryActionTypes.RechargePaidByCustomer.TypeCode)?.Actor
                    </td>
                    <td>@approvedBy</td>
                </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" asp-add-nonce="true">
        $(function () {
            // setup table
            var table = $("#Invoices").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel'
                ],
                order: [[7, 'desc']],
                columnDefs: [
                    { targets: [3, 5, 6, 12, 13, 14], visible: false },
                    { targets: [7, 8, 9, 10, 11], type: 'date' },
                ],
                autoWidth: false,
            });

            // toggle column visibility
            var hiddenColumns = [3, 5, 6, 12, 13, 14];
            var allColumnsVisible = false;
            $('#toggleColumns').on('click', function (e) {
                e.preventDefault();
                allColumnsVisible = !allColumnsVisible;
                hiddenColumns.forEach(function (colIdx) {
                    var column = table.column(colIdx);
                    column.visible(allColumnsVisible);
                });
                // Force recalculation of column widths
                table.columns.adjust();
                $(window).trigger('resize');

                $('#toggleText').text(allColumnsVisible ? 'Hide Columns' : 'Show All Columns');
            });
            // setup datepickers
            $('#Year').datepicker({
                keepEmptyValues: true,
                format: "yyyy",
                startView: "years",
                minViewMode: "years",
                endDate: new Date(),
            });
        });
    </script>
}
