@model IEnumerable<Coupon>

@{
    ViewBag.Title = "Coupons";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCouponModal"><i class="far fa-plus-square"></i>Create New Coupon</a>
    </div>

    <div class="card-body table-responsive">
        <table id="Coupons" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Coupon Code</th>
                    <th>Percentage</th>
                    <th>Amount</th>
                    <th>Expires At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coupon in Model)
                {
                    <tr data-id="@coupon.Id">
                        <td class="coupon-name-col">
                            <a asp-action="Details" asp-route-id="@coupon.Id">
                                <div>
                                    @coupon.Name
                                </div>
                            </a>
                        </td>
                        <td class="text-center coupon-code-col">
                            <a asp-action="Details" asp-route-id="@coupon.Id">
                                <div class="text-mono">
                                    @coupon.Code
                                </div>
                            </a>
                        </td>
                        <td class="text-end coupon-percentage-col">
                            <a asp-action="Details" asp-route-id="@coupon.Id">
                                @if (coupon.DiscountPercent.HasValue)
                                {
                                    <div>
                                        @coupon.DiscountPercent.Value.ToString("P")
                                    </div>
                                }
                            </a>
                        </td>
                        <td class="text-end coupon-amount-col">
                            <a asp-action="Details" asp-route-id="@coupon.Id">
                                @if (coupon.DiscountAmount.HasValue)
                                {
                                    <div>
                                        @coupon.DiscountAmount.Value.ToString("C")
                                    </div>
                                }
                            </a>
                        </td>
                        <td data-sort="@(coupon.ExpiresAt?.Ticks ?? 0)">
                            <a asp-action="Details" asp-route-id="@coupon.Id">
                                @if (coupon.ExpiresAt.HasValue)
                                {
                                    <div>
                                        @coupon.ExpiresAt.Value.ToString("d")
                                    </div>
                                }
                            </a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@coupon.Id" class="btn btn-outline-primary">
                                <div>View</div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    
<partial name="_CreateCouponModal" model="null" />

@section scripts
{
    <script type="text/javascript" asp-add-nonce="true">
        $(function() {
            // setup table
            $("#Coupons").DataTable({
                order: [[ 0, 'asc' ]],
                columnDefs: [
                    { orderable: false, targets: -1 },
                ],
            });
        });
    </script>
}
