@model Payments.Core.Models.Invoice.EditInvoiceModel

@{
    ViewBag.Title = "Edit Invoice";
}

<div id="react-app">
    Loading Edit Invoice...
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts {
    <script asp-add-nonce="true">
        window.id = @(Json.Serialize(ViewBag.Id));

        window.model = @(Json.Serialize(Model));

        window.sent = @(Json.Serialize(ViewBag.Sent));

        window.team = @(Json.Serialize(ViewBag.Team));

        window.accounts = @(Json.Serialize(ViewBag.Accounts));

        window.coupons = @(Json.Serialize(ViewBag.Coupons));

        var form = $("#__AjaxAntiForgeryForm");
        window.antiForgeryToken = $('input[name="__RequestVerificationToken"]', form).val();
    </script>
    <script src="~/dist/edit-invoice.js" asp-append-version="true"></script>
}
