@using Microsoft.AspNetCore.Http
@model Payments.Mvc.Models.InvoiceViewModels.InvoiceListViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Invoices";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <a asp-action="Create" class="btn"><i class="far fa-plus-square mr-3"></i> Create New Invoice</a>
    </div>

    <div class="card-body card-bot-border">
        <div class="d-flex justify-content-between">
            <h3 class="">Filters</h3>
            <button class="btn-plain" type="button" data-toggle="collapse" data-target="#invoiceFilter"><i class="fas fa-filter"></i></button>
        </div>

        <div id="invoiceFilter" class="collapse">
            <partial name="_Filter" model="@Model.Filter" />
        </div>
    </div>

    <div class="card-body">
        <table id="Invoices" class="table table-hover">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th></th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Sent At</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model.Invoices)
                {
                    <tr data-id="@invoice.Id">
                        <td class="invoices-id-col">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    @invoice.GetFormattedId()
                                </div>
                            </a>
                        </td>
                        <td class="text-center invoices-status-col">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    <span class="badge @Invoice.StatusCodes.GetBadgeClass(invoice.Status)" data-level="@invoice.Status">@invoice.Status</span>
                                </div>
                            </a>
                        </td>
                        <td class="invoices-customer-col">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    @invoice.CustomerEmail
                                </div>
                            </a>
                        </td>
                        <td class="text-right" data-sort="@invoice.CalculatedTotal">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    $@invoice.CalculatedTotal.ToString("F2")
                                </div>
                            </a>
                        </td>
                        <td data-sort="@(invoice.SentAt?.Ticks ?? 0)">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    @(invoice.SentAt.HasValue ? invoice.SentAt.Value.ToString("d") : "")
                                </div>
                            </a>
                        </td>
                        <td data-sort="@invoice.CreatedAt.Ticks">
                            <a asp-action="Details" asp-route-id="@invoice.Id">
                                <div>
                                    @invoice.CreatedAt.ToString("d")
                                </div>
                            </a>
                        </td>
                        <td class="invoices-edit-btn-col text-center">
                            <a asp-action="Details" asp-route-id="@invoice.Id" class="btn">
                                <div>View <i class="fas fa-external-link-alt ml-3"></i></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    


@section scripts
{
    <script type="text/javascript">
        $(function() {
            // setup table
            $("#Invoices").DataTable({
                order: [[ 0, 'asc' ]],
                columnDefs: [
                    { orderable: false, targets: -1 },
                ],
            });
        });
    </script>
}
