@model Payments.Mvc.Models.PaymentViewModels.BaseInvoiceViewModel
<div class="pay-description">
    @if (!string.IsNullOrWhiteSpace(Model.Memo))
    {
        <p class="onepointeight secondary-font">Memo</p>
        <div class="pay-memo">
            <p>@Model.Memo</p>
        </div>
    }
    <table class="table pay-table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr data-id="@item.Id">
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>$@item.Amount.ToString("F2")</td>
                    <td>$@item.Total.ToString("F2")</td>
                </tr>
            }

            @if (Model.Discount > 0 || Model.Coupon != null)
            {
                var isExpired = (Model.Coupon?.ExpiresAt != null && Model.Coupon.ExpiresAt.Value < DateTime.UtcNow);

                <tr>
                    <td></td>
                    <td>
                        @if (Model.Coupon != null)
                        {
                            <span>Coupon</span>
                        }
                        else
                        {
                            <span>Discount</span>
                        }
                    </td>
                    <td>
                        @if (Model.Coupon != null)
                        {
                            <span>@Model.Coupon.Name</span><br />
                            if (Model.Coupon.DiscountAmount.HasValue)
                            {
                                <small>@Model.Coupon.DiscountAmount.Value.ToString("C") off</small>
                            }
                            if (Model.Coupon.DiscountPercent.HasValue)
                            {
                                <small>@Model.Coupon.DiscountPercent.Value.ToString("P") off</small>
                            }
                        }
                    </td>
                    <td>
                        @if (isExpired)
                        {
                            <span>Expired</span>
                        }
                        else
                        {
                            <span>-$@Model.Discount.ToString("F2")</span>
                        }
                    </td>
                </tr>
            }

            @if (Model.TaxAmount > 0)
            {
                <tr>
                    <td></td>
                    <td>Tax (@((Model.TaxPercent * 100).ToString("0.####"))%)</td>
                    <td></td>
                    <td>$@Model.TaxAmount.ToString("F2")</td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Total:</td>
                <td></td>
                <td>$@Model.Total.ToString("F2")</td>
            </tr>

        </tbody>
    </table>
    @if (!Model.Paid)
    {
        if (Model.Coupon != null)
        {
            <div class="w-100 d-flex flex-row-reverse">
                <button class="btn-plain p-0 my-1" data-toggle="modal" data-target="#removeCouponModal">Clear your coupon?</button>
            </div>
        }
        else if (Model.Discount == 0 && Model.Coupon == null)
        {
            // you can add coupons to unpaid, undiscounted invoices
            <div class="w-100 d-flex flex-row-reverse">
                <button class="btn-plain p-0 my-1" data-toggle="modal" data-target="#addCouponModal" role="button" aria-expanded="false" aria-controls="couponForm">Add Coupon Code?</button>
            </div>
        }
    }
</div>