@model Payments.Mvc.Models.PaymentViewModels.InvoicePaymentViewModel

@{
    ViewBag.Title = $"Pay Invoice {Model.Id}";
    Layout = "_PaymentsLayout";

    var duedate = DateTime.UtcNow.AddDays(14);
}

<div class="card-style pay-card-style">
  <div class="card-gradient-header-bleed">
      <div class="card-gradient-header">

      </div>
  </div>
  <div>
    <div class="pay-top">
      <h2>Invoice from @Model.TeamName</h2>
      <p class="secondary-font">Billed to jpknoll@ucdavis.edu</p>
      <p class="tertiary-font">Invoice @Model.Id</p>
    </div>
    <div class="pay-action">
      @if (Model.Status == Invoice.StatusCodes.Sent)
      {
        <h1>@(string.Format("{0:C}", Model.Total))</h1>
        <p class="secondary-font">Due @(duedate.ToString("D"))</p>
          <form action="@ViewBag.CyberSourceUrl" method="post" autocomplete="off" style="margin-right: 3px">
              @foreach (var pair in Model.PaymentDictionary)
              {
                  <input type="hidden" name="@pair.Key" value="@pair.Value" />
              }
              <input type="hidden" name="signature" value="@ViewBag.Signature" />
              <button type="submit" class="btn-gold btn-md" aria-hidden="true">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>
                  Pay Now
              </button>
          </form>
      }
      else if (Model.Status == Invoice.StatusCodes.Paid || Model.Status == Invoice.StatusCodes.Completed)
      {
          <h1>Invoice Paid</h1>
          <h2>@Model.Total.ToString("C") USD paid @Model.PaidDate.ToString("D")</h2>
      }
    </div>

<div class="pay-description">
  <p class="onepointeight secondary-font">Memo</p>
  <div class="pay-memo">
    @if (!string.IsNullOrWhiteSpace(Model.Memo))
    {
        <p>@Model.Memo</p>
    }
  </div>
  <table class="table pay-table">
      <thead>
      <tr>
          <th>Description</th>
          <th>Qty</th>
          <th>Unit Price</th>
          <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model.Items)
      {
          <tr data-id="@item.Id">
              <td>@item.Description</td>
              <td>@item.Quantity</td>
              <td>$@item.Amount.ToString("F2")</td>
              <td>$@item.Total.ToString("F2")</td>
          </tr>
      }


      @if (Model.Discount > 0)
      {
          <tr>
              <td></td>
              <td>Discount</td>
              <td></td>
              <td>-$@Model.Discount.ToString("F2")</td>
          </tr>
      }

      @if (Model.TaxAmount > 0)
      {
          <tr>
              <td></td>
              <td>Tax (@((Model.TaxPercent * 100).ToString("0.####"))%)</td>
              <td></td>
              <td>$@Model.TaxAmount.ToString("F2")</td>
          </tr>
      }

      <tr>
          <td>


          </td>
          <td>Total:</td>
          <td></td>
          <td>$@Model.Total.ToString("F2")</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="pay-download">
  <img src="/media/download.svg" alt="download icon">
    <h3></h3>
    @*TODO: Get style to work with the a tag*@ 
    <a asp-action="Pdf" asp-route-id="@Model.LinkId" download>
        <button class="btn-inverse">Download PDF</button> 
    </a>
    <!-- <button class="btn-inverse m-l">Invoice</button> -->
</div>
    <div class="pay-footer">
      <p>
          If you have any questions, contact us at <a href="/">jpknoll@ucdavis.edu</a> or call at <a href="">530-754-0000</a>
      </p>
    </div>
  </div>

</div>
