@model Payments.Mvc.Models.PaymentViewModels.InvoicePaymentViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form action="@ViewBag.CyberSourceUrl" method="post" autocomplete="off" style="margin-right: 3px">
    @foreach (var pair in Model.PaymentDictionary)
    {
        <input type="hidden" name="@pair.Key" value="@pair.Value"/>
    }
    <input type="hidden" name="signature" value="@ViewBag.Signature"/>
    <button type="submit" class="btn btn-primary" aria-hidden="true">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        @(string.Format("{0:C}", Model.Total)) Pay Now
    </button>
</form>