@model Payments.Mvc.Models.PaymentViewModels.PaymentInvoiceViewModel

@{
    ViewBag.Title = $"Pay Invoice #{Model.Id}";
    Layout = "_PaymentsLayout";

    var downloadLink = Url.Action("Invoice", "Pdf", new { id = Model.LinkId });
}

<div class="card-style pay-card-style">
    <div class="card-gradient-header-bleed">
        <div class="card-gradient-header">
        </div>
    </div>
    <div>
        <partial name="_TopInfo" />
        <div class="pay-action">
            @if (!Model.Paid)
            {
                <span class="pay-action-total">@(string.Format("{0:C}", Model.Total))</span>

                if (Model.DueDate.HasValue)
                {
                    <span class="pay-action-date" class="secondary-font">Due @(Model.DueDate.Value.ToString("D"))</span>
                }

                <form action="@ViewBag.CyberSourceUrl" method="post" autocomplete="off" style="margin-right: 3px">
                    @foreach (var pair in Model.PaymentDictionary)
                    {
                        <input type="hidden" name="@pair.Key" value="@pair.Value" />
                    }
                    <input type="hidden" name="signature" value="@ViewBag.Signature" />
                    <button type="submit" class="btn-gold btn-lg pay-now-button" aria-hidden="true">
                        <i class="fas fa-credit-card mr-3" aria-hidden="true"></i>
                        Pay Now
                    </button>
                </form>
            }
            else
            {
                <h1>Invoice Paid</h1>
                if (Model.PaidDate.HasValue)
                {
                    <h2>@Model.Total.ToString("C") USD paid @Model.PaidDate.Value.ToString("D")</h2>
                }
            }
        </div>
        <partial name="_Summary" />
        <partial name="_Attachments" />
        <partial name="_Download" model="@downloadLink" />
        <partial name="_Footer" model="@Model.Team" />
    </div>
</div>

@if (!Model.Paid)
{

    if (Model.Coupon == null)
    {
        <div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponLabel" aria-hidden="true">
            <form asp-action="AddCoupon" asp-route-id="@Model.LinkId" method="post">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCouponLabel">Enter Coupon Code</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" name="code" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-inverse" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn">Add Coupon</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="modal fade" id="removeCouponModal" tabindex="-1" role="dialog" aria-labelledby="removeCouponLabel" aria-hidden="true">
            <form asp-action="RemoveCoupon" asp-route-id="@Model.LinkId" method="post">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="removeCouponLabel">Remove Coupon?</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body d-flex flex-column justify-content-center">
                            <span>@Model.Coupon.Name</span><br />
                            <small class="badge badge-secondary text-mono">@Model.Coupon.Code</small><br />
                            @if (Model.Coupon.DiscountAmount.HasValue)
                            {
                            <small>@Model.Coupon.DiscountAmount.Value.ToString("C") off</small>
                            }
                            else if (Model.Coupon.DiscountPercent.HasValue)
                            {
                            <small>@Model.Coupon.DiscountPercent.Value.ToString("P") off</small>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-inverse" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn">Remove Coupon</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
}
