@model Payments.Mvc.Models.PaymentViewModels.PaymentInvoiceViewModel

@{
    ViewBag.Title = $"Pay Invoice {Model.Id}";
    Layout = "_PaymentsLayout";

    var downloadLink = Url.Action("Pdf", new {id = Model.LinkId});
}

<div class="card-style pay-card-style">
    <div class="card-gradient-header-bleed">
        <div class="card-gradient-header">
        </div>
    </div>
    <div>
        <partial name="_TopInfo" />
        <div class="pay-action">
            @if (Model.Status == Invoice.StatusCodes.Sent)
            {
                <h1>@(string.Format("{0:C}", Model.Total))</h1>

                if (Model.DueDate.HasValue)
                {
                    <p class="secondary-font">Due @(Model.DueDate.Value.ToString("D"))</p>
                }

                <form action="@ViewBag.CyberSourceUrl" method="post" autocomplete="off" style="margin-right: 3px">
                    @foreach (var pair in Model.PaymentDictionary)
                    {
                        <input type="hidden" name="@pair.Key" value="@pair.Value" />
                    }
                    <input type="hidden" name="signature" value="@ViewBag.Signature" />
                    <button type="submit" class="btn-gold btn-md" aria-hidden="true">
                        <i class="fas fa-credit-card mr-3" aria-hidden="true"></i>
                        Pay Now
                    </button>
                </form>
            }
            else if (Model.Status == Invoice.StatusCodes.Paid || Model.Status == Invoice.StatusCodes.Completed)
            {
                <h1>Invoice Paid</h1>
                <h2>@Model.Total.ToString("C") USD paid @Model.PaidDate.ToString("D")</h2>
            }
        </div>
        <partial name="_Summary" />
        <partial name="_Attachments" />
        <partial name="_Download" model="@downloadLink" />
        <partial name="_Footer" />
    </div>
</div>