@model Payments.Mvc.Models.PaymentViewModels.PreviewInvoiceViewModel

@{
    ViewBag.Title = $"Preview Invoice {Model.Id}";
    Layout = "_PaymentsLayout";
}

<div class="card-style preview-warning-card-style">
    <p>
        <i class="fa fa-fw fa-exclamation-triangle preview-warning-icon"></i>
        This is a preview page only. You cannot pay this invoice here.
    </p>
</div>

<div class="card-style pay-card-style">
    <div class="card-gradient-header-bleed">
        <div class="card-gradient-header">
        </div>
    </div>
    <div>
        @Html.Partial("_TopInfo")
        <div class="pay-action">
            <h1>@(string.Format("{0:C}", Model.Total))</h1>
            @if (Model.DueDate.HasValue)
            {
                <p class="secondary-font">Due @(Model.DueDate.Value.ToString("D"))</p>
            }
            <button type="submit" class="btn-gold btn-md" aria-hidden="true">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                Pay Now
            </button>
        </div>
        @Html.Partial("_Summary")
        @Html.Partial("_Download", string.Empty)
        @Html.Partial("_Footer")
    </div>
</div>
