@using Payments.Core.Domain
@using RazorLight
@inherits TemplatePage<Payments.Emails.Models.InvoiceViewModel>

@{
    Layout = "Views.Shared._Layout";
    var team = (Team) ViewBag.Team;

    var invoice = Model.Invoice;

    var payHref = $"{ViewBag.BaseUrl}/pay/{invoice.LinkId}";
    var pdfHref = $"{ViewBag.BaseUrl}/download/{invoice.LinkId}";
} 

<mj-text align="center">
    <h1>Invoice from @team.Name</h1>
    <h3>Invoice # @invoice.GetFormattedId()</h3>
</mj-text>

<mj-table>
    <tr>
        <td style="vertical-align: top;">
            <p style="font-weight: bold">Amount Due:</p>
            <p>@invoice.CalculatedTotal.ToString("C")</p>
        </td>
        <td style="vertical-align: top; text-align: right;">
            <p style="font-weight: bold">Billed To:</p>
            @if (!string.IsNullOrWhiteSpace(invoice.CustomerName))
            {
                <p>@invoice.CustomerName</p>
            }

            @if (!string.IsNullOrWhiteSpace(invoice.CustomerCompany))
            {
                <p>@invoice.CustomerCompany</p>
            }

            @if (!string.IsNullOrWhiteSpace(invoice.CustomerAddress))
            {
                <p>@invoice.CustomerAddress</p>
            }
            <p>@invoice.CustomerEmail</p>
        </td>
    </tr>
</mj-table>

<mj-button href="@payHref" background-color="#004987">Pay this Invoice</mj-button>

@{ await IncludeAsync("Views.Shared._Summary", invoice); }

<mj-button href="@pdfHref" background-color="#004987">Download as PDF</mj-button>
