@using Payments.Core.Domain
@model Payments.Emails.Models.RefundRequestViewModel

@{
    Layout = "_EmailLayout";
    var team = (Team) ViewData["Team"];

    var invoice = Model.Invoice;
    var payment = Model.Payment;

    var detailsHref = $"{ViewData["BaseUrl"]}/{ViewData["Slug"]}/Invoices/Details/{invoice.Id}";
}

<mj-text align="center">
    <h1>Refund Requested for team:</h1>
    <h1>@team.Name</h1>
    <h3>By: @Model.User.Name (@Model.User.Email)</h3>
    <h3>Invoice # @invoice.GetFormattedId()</h3>
</mj-text>
<mj-button href="@detailsHref" background-color="#004987">View Details</mj-button>
<mj-text align="left">
    <p style="font-weight: bold">Reason:</p>
    <p>@Model.RefundReason</p>
</mj-text>

<mj-table>
    <tr>
        <td style="vertical-align: top;">
            <p style="font-weight: bold">Amount Paid:</p>
            <p>@invoice.CalculatedTotal.ToString("C")</p>
        </td>
        <td style="vertical-align: top; text-align: right;">
            <p style="font-weight: bold">Billed To:</p>
            @if (!string.IsNullOrWhiteSpace(invoice.CustomerName))
            {
                <p>@invoice.CustomerName</p>
            }

            @if (!string.IsNullOrWhiteSpace(invoice.CustomerCompany))
            {
                <p>@invoice.CustomerCompany</p>
            }

            @if (!string.IsNullOrWhiteSpace(invoice.CustomerAddress))
            {
                <p>@invoice.CustomerAddress</p>
            }
            <p>@invoice.CustomerEmail</p>
        </td>
    </tr>
</mj-table>

<mj-text>
    <p>Card Name: @payment.BillingFirstName @payment.BillingLastName</p>
    <p>Card Info: @payment.CardType @payment.CardNumber</p>
    <p>Auth DateTime: @payment.OccuredAt.ToString("U")</p>
    <p>Processor ID: @payment.ProcessorId</p>
</mj-text>
