@using Payments.Core.Extensions
@model Invoice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
    @Html.EmbedCss("/wwwroot/css/pdf.css")

    <style>
        #logoContainer svg {
            width: 30vw;
            /*height: 32px;*/
        }

        #headerContainer {
            margin-top: 1rem;
            /*margin-bottom: 4rem;*/
        }

        #invoiceNumber {
            margin-bottom: 4rem;
            font-size: 2rem;
        }

        #invoiceInfo {
            margin-bottom: 4rem;
        }

        #memoContainer {
            margin-bottom: 4rem;
        }

        #itemsTable th {
            border-top: 0;
            font-weight: bold;
            text-transform: uppercase;
            color: #E8E9ED;
        }

        /* add bottom border for last row */
        #itemsTable tr.item td {
            border-bottom: 1px solid #dee2e6;
        }

        #itemsTable tr.summary td {
            border-top: none;
        }

        #itemsTable tr.total td {
            border-top: none;
            font-weight: bold;
            font-size: 1.3rem;
        }

        .text-blue {
            color: #004987;
        }

        .text-label {
            font-weight: bold;
            text-transform: uppercase;
            color: #E8E9ED;
        }

        .address {
            /*text-transform: uppercase;*/
        }
    </style>

</head>
<body>
    @if(Model.Type == Invoice.InvoiceTypes.Recharge)
    {
        <div id="headerContainer" >
            <div id="logoContainer" >
                @Html.InlineSvg("/wwwroot/media/logo.svg")
            </div>
        </div>
        <div >
            <h1 id="invoiceNumber" class="font-weight-bold text-blue">
                Recharge Invoice #@Model.GetFormattedId()
            </h1>
        </div>
    }
    else
    {
        <div id="headerContainer" class="row align-items-start">
            <div id="logoContainer" class="col">
                @Html.InlineSvg("/wwwroot/media/logo.svg")
            </div>

                <div class="col">
                    <h1 id="invoiceNumber" class="font-weight-bold text-blue text-end">
                        Invoice #@Model.GetFormattedId()
                    </h1>
                </div>
        </div>
    }
    <div id="invoiceInfo" class="row justify-content-between">
        <div class="col">
            <span class="text-label">Contact Info</span><br />
            <span class="">University of California, Davis</span><br />
            <span class="">@Model.Team.Name</span><br />
            <span class="address">
                @Model.Team.ContactName<br />
                @Model.Team.ContactEmail<br />
                @Model.Team.ContactPhoneNumber
            </span>
        </div>
        <div class="col-3">
            <div class="row">
                <span class="col text-label">Date of issue</span><br />
                <span class="col font-weight-bold text-end">@Model.SentAt.Value.ToPacificTime().ToString("MMM dd, yyyy")</span>
            </div>

            @if (Model.DueDate.HasValue)
            {
                <div class="row">
                    <span class="col text-label">Date due</span><br />
                    <span class="col font-weight-bold text-end">@Model.DueDate.Value.ToString("MMM dd, yyyy")</span>
                </div>
            }
            <div class="row">
                <span class="col text-label">Total Due</span>
                <span class="col text-end font-weight-bold text-blue">@Model.CalculatedTotal.ToString("C")</span>
            </div>
        </div>
    </div>

    <div id="invoiceInfo" class="row">
        <div class="col">
            <span class="text-label">Bill to</span><br/>
            <span class="address">
                @if (!string.IsNullOrWhiteSpace(Model.CustomerName))
                {
                    @Model.CustomerName<br/>
                }

                @if (!string.IsNullOrWhiteSpace(Model.CustomerCompany))
                {
                    @Model.CustomerCompany<br/>
                }

                @Model.CustomerEmail<br/>

                @if (!string.IsNullOrWhiteSpace(Model.CustomerAddress))
                {
                    @Model.CustomerAddress
                }
            </span>
        </div>
    </div>

@if (!string.IsNullOrWhiteSpace(Model.Memo))
{
    <div id="memoContainer">
        <span class="text-label">Memo</span>
        <div class="memo">
            <p>@Model.Memo</p>
        </div>
    </div>
}

<table id="itemsTable" class="table">
    <thead>
    <tr>
        <th class="">#</th>
        <th class="">Description</th>
        <th class="text-end">Qty</th>
        <th class="text-end">Unit Price</th>
        <th class="text-end">Amount</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];
        <tr class="item">
            <td>@(i + 1)</td>
            <td>@item.Description</td>
            <td class="text-end">@item.Quantity</td>
            <td class="text-end">@item.Amount.ToString("C")</td>
            <td class="text-end">@item.Total.ToString("C")</td>
        </tr>
    }
    </tbody>
    <tbody class="subtotal-body">
    @if (Model.CalculatedDiscount > 0)
    {
        var extra = string.Empty;
        <tr class="summary">
            <td colspan="3"></td>
            <td class="text-end text-label">Subtotal</td>
            <td class="text-end">@Model.CalculatedSubtotal.ToString("C")</td>
        </tr>
        if (Model.Coupon != null && Model.Coupon.ExpiresAt.HasValue)
        {
            extra = $"Expires {Model.Coupon.ExpiresAt.Value.ToString("MMM dd, yyyy")}";
        }

        <tr class="summary">
            <td colspan="3"></td>
            <td class="text-end text-label">Discount @extra</td>
            <td class="text-end">-@Model.CalculatedDiscount.ToString("C")</td>
        </tr>
    }

    @if (Model.CalculatedTaxAmount > 0)
    {
        var rateText = Model.CalculatedTaxableAmount == Model.CalculatedSubtotal
            ? Model.TaxPercent.ToString("P3")
            : $"{Model.TaxPercent:P3} on {Model.CalculatedTaxableAmount:C2}";

        <tr class="summary">
            <td colspan="3"></td>
            <td class="text-end text-label">Tax (@rateText)</td>
            <td class="text-end">@Model.CalculatedTaxAmount.ToString("C")</td>
        </tr>
    }
    </tbody>
    <tbody>
    <tr class="total">
        <td class="border-0" colspan="3"></td>
        <td class="text-end text-label border-top">Total</td>
        <td class="text-end text-blue border-top">@Model.CalculatedTotal.ToString("C")</td>
    </tr>
    </tbody>
</table>

</body>
</html>
