@using Payments.Mvc.Models.TeamViewModels
@model CreateTeamPermissionViewModel
@{
    ViewData["Title"] = "Add User";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h1>@ViewBag.Title</h1>
            <span class="text-muted">
                <a asp-action="Roles">Back</a>
            </span>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreatePermission">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.TeamName" class="control-label"></label>
                        <input asp-for="@Model.TeamName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.UserLookup" class="control-label"></label>
                        <input asp-for="@Model.UserLookup" class="form-control" />
                        <span asp-validation-for="@Model.UserLookup" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label asp-for="@Model.SelectedRole" class="control-label"></label>
                            <a asp-action="Faqs" asp-controller="Support" asp-fragment="roles" target="_blank">
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </div>
                        <select asp-for="@Model.SelectedRole" class="form-control" asp-items="@Model.Roles"></select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


