@using Payments.Mvc.Models.Roles
@using Payments.Core.Domain
@model Payments.Mvc.Models.TeamViewModels.EditTeamViewModel

@{
    ViewData["Title"] = "Edit Team";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <a asp-action="Index">Back</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label"></label>
                        <input asp-for="Slug" class="form-control" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                        <span id="slugUrl"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactName" class="control-label"></label>
                        <input asp-for="ContactName" class="form-control" />
                        <span asp-validation-for="ContactName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactEmail" class="control-label"></label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPhoneNumber" class="control-label"></label>
                        <input asp-for="ContactPhoneNumber" class="form-control" />
                        <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WebHookApiKey" class="control-label"></label>
                        <input asp-for="WebHookApiKey" class="form-control" />
                        <span asp-validation-for="WebHookApiKey" class="text-danger"></span>
                        <div class="text-muted">Leave blank if you don't want to pass authorization to your webhook URL
                        </div>
                    </div>

                    @{
                        bool isAdmin = User.IsInRole(ApplicationRoleCodes.Admin);
                        string labelClass = isAdmin ? "form-check-label ms-2" : "form-check-label ms-2 text-muted";
                    }

                    <div class="form-group">
                        <label asp-for="AllowedInvoiceType" class="control-label"></label>
                        <div class="ms-3">
                            <div class="form-check d-flex">
                                <input asp-for="AllowedInvoiceType" class="form-check-input" type="radio"
                                    value="@Team.AllowedInvoiceTypes.CreditCard" disabled="@(!isAdmin)" />
                                <label class="@labelClass" asp-for="AllowedInvoiceType">Credit Card Only</label>
                            </div>
                            <div class="form-check d-flex">
                                <input asp-for="AllowedInvoiceType" class="form-check-input" type="radio"
                                    value="@Team.AllowedInvoiceTypes.Recharge" disabled="@(!isAdmin)" />
                                <label class="@labelClass" asp-for="AllowedInvoiceType">Recharge Only</label>
                            </div>
                            <div class="form-check d-flex">
                                <input asp-for="AllowedInvoiceType" class="form-check-input" type="radio"
                                    value="@Team.AllowedInvoiceTypes.Both" disabled="@(!isAdmin)" />
                                <label class="@labelClass" asp-for="AllowedInvoiceType">Both</label>
                            </div>
                        </div>
                        @if (!isAdmin)
                        {
                            <div class="text-muted small mt-1">If you need to change the allowed invoice type, please submit
                                a help ticket.</div>
                        }
                        <span asp-validation-for="AllowedInvoiceType" class="text-danger"></span>
                    </div>

                    @if (isAdmin)
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index"><i class="fas fa-chevron-left"></i>Back to Team</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            var dirtySlug = false;
            $('#Name').keyup(function () {
                if (dirtySlug) {
                    return;
                }
                var slug = $(this).val();
                slug = slug.replace(/[\W_]/g, '-');
                slug = slug.replace(/--*/g, '-');
                slug = slug.trim('-');
                slug = slug.toLowerCase();

                $('#Slug').val(slug);
                updateSlugUrl();
            });

            $('#Slug').change(function () {
                dirtySlug = true;
                updateSlugUrl();
            });

            function updateSlugUrl() {
                var slug = $('#Slug').val();
                $('#slugUrl').text("https://payments.ucdavis.edu/" + slug);
            }
        });
    </script>
}