@using Humanizer
@using Payments.Mvc.Models.TeamViewModels
@model TeamDetailsModel

@{
    ViewData["Title"] = "Team Roles";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        @if (Model.UserCanEdit)
        {
            <a asp-action="CreatePermission" class="btn btn-primary"><i class="far fa-plus-square me-3"></i> Add User</a>
        }
    </div>

    <div class="card-body table-responsive">
        <table id="rolesTable" class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].Role)
                    <a asp-action="Faqs" asp-controller="Support" asp-fragment="roles" target="_blank">
                        <i class="fas fa-question-circle"></i>
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.CampusKerberos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissions[0].User.Name)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Permissions)
            {
                <tr>
                    <td>
                        @item.Role.Name.Humanize(LetterCasing.Title)
                    </td>
                    <td>
                        @item.User.CampusKerberos
                    </td>
                    <td>
                        @item.User.UserName
                    </td>
                    <td>
                        @item.User.Name
                    </td>
                    <td class="text-center">
                        <a asp-action="DeletePermission" asp-route-id="@item.Id" asp-route-team="@Model.Slug">Revoke</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index"><i class="fas fa-chevron-left me-3"></i> Back to Team</a>
</div>


@section scripts {
    <script type="text/javascript" asp-add-nonce="true">
        $(function() {
            $("#rolesTable").DataTable({
                columnDefs: [
                    {
                        targets: [-1], orderable: false
                    },
                    {
                        targets: [-1], searchable: false
                    }
                ]
            });
        });
    </script>
}
