@model Payments.Mvc.Models.AccountViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}



<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <a asp-action="Edit" class="btn"><i class="far fa-edit mr-3"></i> Edit</a>
    </div>

    <div class="card-body">
        <div class="row">
            <dl class="dl-horizontal col-lg">
                <dt>@Html.DisplayNameFor(x => x.FirstName)</dt>
                <dd>@Model.FirstName</dd>

                <dt>@Html.DisplayNameFor(x => x.LastName)</dt>
                <dd>@Model.LastName</dd>

                <dt>@Html.DisplayNameFor(x => x.Name)</dt>
                <dd>@Model.Name</dd>

                <dt>@Html.DisplayNameFor(x => x.Email)</dt>
                <dd>@Model.Email</dd>
            </dl>
        </div>
    </div>
</div>

