@model Payments.Mvc.Models.FinancialModels.FinancialAccountDetailsModel

@{
    ViewData["Title"] = "Account Details";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
            <span>
                <a asp-action="EditAccount" asp-route-id="@Model.FinancialAccount.Id" class="btn"><i class="far fa-edit mr-3"></i> Edit</a>
            </span>
        </div>
    </div>
    <div class="card-content">
        <dl class="row mb-4">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Name)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Name)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Description)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Description)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.IsDefault)
            </dt>
            <dd class="col-md-8">
                @if (Model.FinancialAccount.IsDefault)
                {
                    <i class="far fa-check-square"></i>
                }
                else
                {
                    <i class="far fa-square"></i>
                }
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Team)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Team.Name)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Chart)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Chart)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Account)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Account)
                @if (!Model.IsAccountValid)
                {
                    <span style="color: red"> ** Account is Invalid</span>
                }
                else if (!Model.KfsAccount.IsValidIncomeAccount)
                {
                    <span style="color: red"> ** Not An Income Account</span>
                }
                else
                {
                    <span> (@Model.KfsAccount.accountName)</span>
                }
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.SubAccount)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.SubAccount)
                @if (!string.IsNullOrWhiteSpace(Model.FinancialAccount.SubAccount))
                {
                    <span> (@Model.KfsAccount.SubAccountName)</span>
                }
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FinancialAccount.Project)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FinancialAccount.Project)
                @if (Model.IsProjectValid.HasValue && !Model.IsProjectValid.Value)
                {
                    <span style="color: red"> ** Project is Invalid</span>
                }
                else if (Model.IsProjectValid.HasValue && Model.IsProjectValid.Value)
                {
                    <span> (@Model.KfsAccount.ProjectName)</span>
                }
            </dd>
            @if (Model.KfsAccount.accountExpirationDate.HasValue)
            {
                <dt class="col-md-4">Account Expiration Date</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.KfsAccount.accountExpirationDate)</dd>
            }
            <dt class="col-md-4">Sub Fund Group Type Code</dt>
            <dd class="col-md-8">@Html.DisplayFor(model => model.KfsAccount.subFundGroupTypeCode)</dd>
            <dt class="col-md-4">Sub Fund Group Name</dt>
            <dd class="col-md-8">@Html.DisplayFor(model => model.KfsAccount.subFundGroupName)</dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Index"><i class="fas fa-chevron-left mr-3"></i> Back to Accounts</a>
</div>
