@model Payments.Mvc.Models.TeamViewModels.TeamDetailsModel

@{
    ViewData["Title"] = "Accounts";
}

@section AdditionalStyles {
    <partial name="_DataTableStylePartial" />
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>

            @if (Model.UserCanEdit)
            {
                <a asp-action="CreateAccount" asp-controller="FinancialAccounts">Create New Account</a>
            }
        </div>
    </div>

    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].Account)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].Object)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].Project)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].IsDefault)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Accounts[0].IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @item.GetAccountString()
                        </td>
                        <td>
                            @item.GetObjectString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDefault)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a asp-action="EditAccount" asp-controller="FinancialAccounts" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="AccountDetails" asp-controller="FinancialAccounts" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="DeleteAccount" asp-controller="FinancialAccounts" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <partial name="_DataTableScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            $(".table").DataTable({
                columnDefs: [
                    {
                        targets: [-1], orderable: false
                    },
                    {
                        targets: [-1], searchable: false
                    }
                ]
            });
        });
    </script>
}
